.form {
    overflow-y: auto;
    height: 80vh; 
    background: #A5B9CC
}


.border { 
    margin: -50px;
}

.brtop {
    display: inline-block
}

/* label {
    display: inline-block;
    margin-top: 10px;
} */
 
/* .input { 
    margin-bottom: 20px;
} */

/* input[type=text], .txtarea {
    margin-bottom: 10px;
} */