.card-profile { 
    margin-top: 75px;
    margin-left: 15px;
    margin-right: 15px;
}

.card-posts { 
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background: #A5B9CC;
    padding: 20px;
    overflow-y: auto;
    height: 62vh;
}

/* .profile{
    margin: 20px;
} */

/* .card-posts {
    height: 65vh;
    overflow-y: auto;
    background: #A5B9CC
}

.card-likes {
    height: 90vh;
    overflow-y: auto;
    background: #A5B9CC
}

.profile {
    padding: 5vh;
    /* height: 80vh; */
/* } */



/* .nav-text {
    vertical-align: middle;
}

.card-footer {
    text-align: center;
}

.share { 
    /* margin-right: 5px; */
    /* margin-left: 5px; */
/* } */